html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Verv workouts
    body
        .container 
            .header 
                .change_theme
                    button(class="change") 
                        img(class="change" src="../img/bulb.png")
                .close
                    .btn-close 
                          img(src="../img/Rectangle4.png", alt="Close")
                .header__text
                    p Try Verv for free
                .header__weight 
                    hr 
                    .for__images
                        img(class ="path1" src="../img/path2.png", alt="Path")
                        img(class ="path" src="../img/path4.png", alt="Path")
                    p Extr. Obese
                    hr 
                    p Obese
                    hr 
                    p Overweight
                    hr 
                    p Healthy
                    hr 
                    .weight__info 
                        img(class="girl" src="../img/girl.png", alt="girl")
                        .logo 
                            img(class="free" src="../img/Free.png", alt="free")
                            img(class="pro" src="../img/PRO.png", alt="pro")
                            .green 
                                img(src="../img/green.png", alt="green spot")
                            .red 
                                img(src="../img/red.png", alt="red spot")

            .slider 
                .slider-line 
                    .slide
                        .slider__header 
                            .slider__header-main Fantastic! 
                            .slider__header-name lila_lane
                        .slider__rating 
                            .icon
                                img(src="../img/Star.png", alt="Star-rating")
                                img(src="../img/Star.png", alt="Star-rating")
                                img(src="../img/Star.png", alt="Star-rating")
                                img(src="../img/Star.png", alt="Star-rating")
                                img(src="../img/Star.png", alt="Star-rating")
                            
                        .slider__feedback
                            p I can say I am 💯 happy with this app. 15 pounds off in 30 days!
                    .slide
                        .slider__header 
                            .slider__header-main Fantastic! 
                            .slider__header-name lila_lane
                        .slider__rating 
                            .icon
                                img(src="../img/Star.png", alt="Star-rating")
                                img(src="../img/Star.png", alt="Star-rating")
                                img(src="../img/Star.png", alt="Star-rating")
                                img(src="../img/Star.png", alt="Star-rating")
                                img(src="../img/Star.png", alt="Star-rating")   
                        .slider__feedback
                            p I can say I am 💯 happy with this app. 15 pounds off in 30 days!
                    .slide
                        .slider__header 
                            .slider__header-main Fantastic! 
                            .slider__header-name lila_lane
                        .slider__rating 
                            .icon
                                img(src="../img/Star.png", alt="Star-rating")
                                img(src="../img/Star.png", alt="Star-rating")
                                img(src="../img/Star.png", alt="Star-rating")
                                img(src="../img/Star.png", alt="Star-rating")
                                img(src="../img/Star.png", alt="Star-rating")
                            
                        .slider__feedback
                            p I can say I am 💯 happy with this app. 15 pounds off in 30 days!

                    .slide
                        .slider__header 
                            .slider__header-main Fantastic! 
                            .slider__header-name lila_lane
                        .slider__rating 
                            .icon
                                img(src="../img/Star.png", alt="Star-rating")
                                img(src="../img/Star.png", alt="Star-rating")
                                img(src="../img/Star.png", alt="Star-rating")
                                img(src="../img/Star.png", alt="Star-rating")
                                img(src="../img/Star.png", alt="Star-rating")
                            
                        .slider__feedback
                            p I can say I am 💯 happy with this app. 15 pounds off in 30 days!
                            
                .slider__buttons
                    button(class="prev-slide btn-slider") &#8592;
                    button(class="next-slide btn-slider") &#8594;

            .options
               
            .continue__button 
                button(class="continue") Continue
           
            footer 
                p Recurring billing. Cancel anytime.                  
                    





        

      
