.header {
  width: 100%;
  min-height: 30%;
  padding-top: 29px;
  background: linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);
  padding-bottom: 71px;
  position: relative;
  .change_theme {
    button.change {
      width: 32px;
      height: 32px;
      background: rgba(255, 255, 255, 0.527344);
      border-radius: 50%;
      outline: none;
      border: none;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.26);
        color: rgba(255, 255, 255, 0.788);
      }
      img {
        background: transparent;
        width: 15px;
        height: 15px;
      }
    }

  }
  .close {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    .btn-close {
      width: 32px;
      height: 32px;
      background: rgba(255, 255, 255, 0.527344);
      border-radius: 50%;
      // margin-right: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 16px;
        height: 16px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .header__text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.261176px;
    margin-top: -10px;
    p {
      margin-bottom: 33px;
    }
  }
  .header__weight {
    width: 100%;
    position: relative;
    overflow: hidden;
    hr {
      height: 1px;
      background: linear-gradient(90deg, rgba(77,70,177,1) 0%, rgba(148,98,214,1) 50%, rgba(137,74,201,1) 100%);
      border: none;
      outline: none;
      margin-bottom: 19px;
      &:last-child {
        margin-bottom: 40px;
      }
    }
    .path1 {
      width: 100%;
      position: absolute;
      margin-top: -22px;
      pointer-events: none;
    }
    .path {
      width: 100%;
      position: absolute;
      margin-top: -20px;
      pointer-events: none;
    }
    p {
      font-size: 12px;
      color: #fff;
      margin-left: 20px;
    }
    .weight__info {
      display: flex;
      position: absolute;
      margin-top: -230px;
      right: 5%;
      .girl {
        pointer-events: none;
        height: 250px;
      }
      .logo {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        animation: appearance 10s ease-out;
        .free {
          margin-bottom: 65px;
        } 
        .pro{
          animation: growth 4s ease-out infinite;
        }
        .green {
          position: absolute;
          margin-left: 13px;
          margin-top: 120px;

        }
        .red {
          position: absolute;
          margin-left: 13px;
          margin-top: 48px;
        }
      }
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 30%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.199);
      transform: translate(0em) skewX(45deg);
      filter: blur(10px);
      animation: moveLine 5s ease-out infinite;
    }
  }
}

@keyframes moveLine {
  0% {
    transform: translate(0em) skewX(45deg);
  }
  30% {
    transform: translate(100em) skewX(45deg);
  }
  100% {
    transform: translate(100em) skewX(45deg);
  }
}

@keyframes growth {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.5);
  }
  35% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.5);
  }
  45% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes appearance {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}