@media (max-width:380px) {
  body {
    width: 100%;
  .header {
    min-height: 35%;
    .header__text {
      font-size: 34px;
      p {
        margin-bottom: 19.5px;
      }
    }
    .header__weight {
      hr {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 23px;
        }
      }
      .path1 {
        margin-top: -21px;
      }
      .path {
        margin-top: -20px;
      }
      .weight__info {
        margin-top: -210px;
        right: 5%;
        .girl {
          height: 250px;
          }
        .logo {
        margin-top: 40px;
          .free {
            margin-bottom: 45px;
          }
          .green {
            margin-top: 93px;
          }
          .red {
            margin-top: 34px;
          }
        }
      }
    }
  }
    .slider {
      margin-top: -15%;
      margin-bottom: 21px;
      padding: 20px 15px 20px;
      .slider__header{ 
        margin-bottom: 10px;
      }
      .slider__rating  {
        margin-bottom: 9px;
        .icon {
          img {
            margin-right: 3px;
          }
        }
      }
    }

    .options {
      margin: 20px auto;
      .option {
        width: 105px;
        height: 156px;
        margin-right: 10px;
        &:first-child{
          height: 133px;
        }
        .option__bottom {
          height: 16px;
        }
      }
      .continue__button {
        margin: 20px auto;
      }
    }
  }
}


@media (max-width:320px) {
  body {
    .header {
      min-height: 30%;
      .header__weight {
        hr {
          margin-bottom: 5px;
          &:last-child {
            margin-bottom: 10px;
          }
        }
        .path1 {
          margin-top: -5px;
        }
        .path {
          margin-top: -4px;
        }
        .weight__info {
            margin-top: -150px;
            right: 5%;
            .girl {
              height: 175px;
            }
          .logo {
            margin-top: 30px;
            .pro{
              margin-top: 10px;
            }
            .free {
              margin-bottom: 26px;
            }
            .green {
              margin-top: 89px;
            }
            .red {
              margin-top: 30px;
            }
          }
        }
      }
    }
    .slider {
      min-height: 110px;
      margin-top: -20%;
      padding: 15px 15px 12px;
      .slider__header{ 
        margin-bottom: 7px;
      }
      .slider__rating  {
        margin-bottom: 9px;
        .icon {
          img {
            margin-right: 3px;
          }
        }
      }
    }

    .options {
      margin: 13px auto;
      .option {
        width: 88px;
        margin-right: 8px;
        &:first-child{
          height: 133px;
          .option__bottom {
            height: 15px;
          }
        }
      }
    }


    .continue__button {
      margin-top: 13px;
    }
  }
}
