.options {
  width: 87.5%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 13px auto;
  .option {
    width: 88px;
    height: 176px;
    background: #F3F2F9;
    border-radius: 5px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:last-child{
      margin-right: 0px;
      position: relative;
    }
    &:first-child{
      height: 151px;
    }
    .option__roof {
      width: 100%;
      min-height: 21px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px 5px 0 0;
    }
    .option__roof:first-child{
      background: #FCBF59;
    }
    .option__roof:nth-child(2) {
      background: #FCA759;
    }
    .option__header {
      text-align: center;
      width: 50px;
      padding-top: 11px;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
    }
    .option__price {
      width: 48px;
      text-align: center;
      line-height: 16px;
      font-size: 13px;
    }
    .option__month {
      font-size: 12px;
      margin-top: 3px;
    }
    .option__footer {
      background: #FCA759;
      margin-top: 8px;
      height: 15px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 7px;
      font-weight: bold;
      position: absolute;
      bottom: 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.options .pressed {
    cursor: pointer;
      background: linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);
      color: #fff;
}