.slider {
    box-sizing: border-box;
    margin: 0 auto;
    width: 80%;
    min-height: 145px;
    background-color: #F3F2F9;
    border-radius: 10px;
    position: relative;
    z-index: 1000;
    margin-top: -18%;
    padding: 20px;
    overflow: hidden;
    user-select: none;
    .slider-line {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      transition: all ease 2s;
      .slide {
        width: 95%;
        padding: 0 30px 0 0px;
        .slider__header{ 
          display: flex;
          justify-content: space-between;
          margin-bottom: 7px;
          .slider__header-main {
            font-size: 15px;
            line-height: 18px;
            font-weight: bold;
            color: #1A1A1A;
          }
          .slider__header-name {
            font-size: 15px;
            color: #1A1A1A;
            opacity: 0.5
          }
        }
        .slider__rating  {
          display: flex;
          margin-bottom: 9px;
          .icon {
            img {
              margin-right: 3px;
              pointer-events: none;
            }
          }
        }
        .slider__feedback {
          p {
            font-size: 13px;
            color: #1A1A1A;
            line-height: 16px;
            max-width: 80%;
            margin-bottom: 10px;
          }
        }
      }
    }
    & .slider__buttons {
      display: flex;
      justify-content: space-between;
      & button {
        outline: none;
        background-color: transparent;
        border: none;
        height: 20px;
        width: 20px;
        color: rgba(44, 41, 41, 0.658);
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }