.slider {
  margin: 0 auto;
  min-height: 145px;
  width: 80%;
  background-color: #F3F2F9;
  border-radius: 10px;
  position: relative;
  z-index: 1000;
  margin-top: -18%;
  overflow: hidden;
  user-select: none;
  padding:0 10px 10px 10px;
  .slider-line {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    transition: all ease 2s;
    .slide {
      max-width: 85%;
      padding: 20px;
      padding-bottom: 10px;
      .slider__header{ 
        display: flex;
        justify-content: space-between;
        margin-bottom: 7px;
        .slider__header-main {
          font-size: 15px;
          line-height: 18px;
          font-weight: bold;
          color: #1A1A1A;
        }
        .slider__header-name {
          font-size: 15px;
          color: #1A1A1A;
          opacity: 0.5
        }
      }
      .slider__rating  {
        display: flex;
        margin-bottom: 9px;
        .icon {
          img {
            margin-right: 3px;
            pointer-events: none;
          }
        }
      }
      .slider__feedback {
        max-width: 90%;
        p {
          font-size: 13px;
          color: #1A1A1A;
          line-height: 16px;
        }
      }
    }
  }
  & .slider__buttons {
    display: flex;
    justify-content: space-between;
    & button {
      outline: none;
      background-color: rgba(0, 0, 0, 0.349);
      border: none;
      height: 25px;
      width: 25px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        cursor: pointer;
      }
    }
  }
}